{% extends 'base.html' %} {% block header %}
<h1 class="titulo">{% block title %}Peliculas{% endblock %}</h1>
{% endblock %} {% block content %} {% for film in films %}
<article class="post">
  <header>
    <div>
      <a href={{url_for('movie.index_una_pelicula', id = film ['film_id'])}}><h1>{{ film['title'] }}</h1></a>
    </div>
  </header>
  <p class="body">{{ film['release_year'] }}, {{ film['rating'] }}</p>
  <h3> Descripción </h3>
  <p class="body">{{ film['description'] }}</p>
</article>
{% endfor %} {% endblock %}
